* {
    margin: 0;
}

body
{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNfwrHhUCyksqD6B87njVOeOPu4U3dJACf2kqbVGvzS0P_Engg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    min-height: 10vh;
    background-color:rgba(255, 255, 255, 0.829);
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.nav {
    display:table;
    float: left;
    
}

h1 {
    color: white;
    text-align: center;
    margin-top: 2.5vh;
}

.name {
    background-color: #4aaaa5;
    float: left;
    height: 100%;
    transform: translate(100%,0%);
    display: table;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50px;
}

a{
    color: #777777;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-top: 2.5vh;
    
}

a:not(:last-child) {
    margin-right: 20px;
    border-right: #777777 solid;
    padding-right: 20px;
}

.a {
        display: table;
        float: right;
        margin-right: 120px;
        margin-top: 2.8vh;
        vertical-align: middle;
        transform: translate(-60%,0%);
}



main {
    min-height: 85vh;
    background-image: cover;
    width: 100%;
    position: relative;
    
}

.main {
    display: table;
    height: 130vh;
    width: 960px;
    border: 1px;
    margin-left: 30%;
    margin-top: 10px;
    margin-right: 20%;
    background-color: #ffffff;
    padding-right: 20px;
    transform: translate(-180px,0px);
}

.title {
    display: table;
    color: white;
    border-bottom:solid #777777;
    padding-left: 20px;
    height: 5vh;
    width: 98%;
    padding: 20px;

}

h2 {
    color: #4aaaa5;
    vertical-align: middle;
}


img {
    height: 200px;
    width: 200px;
    margin: 20PX 20PX 20PX 20PX;
    padding: 0%;
}

.images {
    display: table;
    height: 50vh;
    width: 960px;
    margin-left: 500px auto;
    position: relative;
    transform: translate(20%,0%);

}

.img1 {
    display: table;
    height: 200px;
    width: 200px;
    float: left;
    position: absolute;
    transform: translate(0%,0%);
    
}

.h4 {
    display: table;
    color: white;
    background-color: #4aaaa5;
    transform: translate(10%,-175%);
    width: 200px;
    height: 25%;
    font-size: 1em;
    top: 50%;
    margin:0;
    padding-top: 10%;
    font-size: 18px;
    
}

h4 {
    text-align: center;
    vertical-align: -50%;
}



.img2 {
    display: table;
    height: 200px;
    width: 200px;
    float: left;
    position: absolute;
    transform: translate(100%,0%);
}

.img3 {
    display: table;
    height: 200px;
    width: 200px;
    float: left;
    transform: translate(0%,100%);
    position: absolute;

}

.img4 {
    display: table;
    height: 200px;
    width: 200px;
    float: left;
    transform: translate(100%,100%);
    position: absolute;
}

.img5 {
    display: table;
    height: 200px;
    width: 200px;
    float: left;
    transform: translate(0%,200%);
   position: absolute;
    
    
}
    

footer {
    height: 5vh;
    background-color: rgb(0, 0, 0);
    color: rgb(229, 223, 235);
    text-align: center;
    vertical-align: bottom;
    
}

.footer {
    display: table;
    height: 5vh;
    width: 100%;
    background-color: #666666;
}

.upper{
    background-color: #4aaaa5;
    height: 0.75vh;
    width: 100%;
    
p1 {
    vertical-align: bottom;

}


@media screen and (max-width : 650px){
    
    .name{
        width: 100%;

    }
    .ul {
        width:100%;
        background-color: #ffffff;
        margin: 20px;
    }
}